<div class="quantity" data-item-id="{{ item.variant_id }}">
    <button class="increment down" type="button">-</button>
    <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
    <button class="increment up" type="button">+</button>
</div>