<div class="collection-filters-mobile">
    <div class="filters-mobile">
        <form class="filter-form" id="collection-filter-form-mobile">
        {% render "collection-filters" %}
        <button type="submit">Apply</button>
        </form>
    </div>
    <div class="mask"></div>
</div>