<div class="nav-mobile">
    <div class="menus">
        <button class="toggle">Close</button>
        {% render "nav-desktop" %}
        {% render "nav-tools" %}
    </div>
    <div class="mask"></div>
</div>