<nav class="tools">
    <ul class="menu">
    {% unless template contains "search" %}
        <li class="menu-link menu-link-search"><a href="/search"><span>Search</span></a></li>
    {% endunless %}
        <li class="menu-link menu-link-account"><a href="/account"><span>Account</span></a></li>
    {% unless template contains "cart" %}
        <li class="menu-link menu-link-cart"><a href="/cart" onclick="return Drawer.click('cart',true)"><span>Cart</span><span class="cart-counter">(0)</span></a></li>
    {% endunless%}
    </ul>
</nav>