<div class="quantity">
    <button class="increment down" type="button">-</button>
    <input type="number" id="Quantity" name="quantity" value="1" min="1" readonly>
    <button class="increment up" type="button">+</button>
</div>