<div class="quantity">
    <button class="increment down" type="button"{% unless product.available %} disabled{% endunless %}>-</button>
    <input type="number" name="quantity" value="1" readonly{% unless product.available %} class="disabled" disabled{% endunless %}>
    <button class="increment up" type="button"{% unless product.available %} disabled{% endunless %}>+</button>
</div>

