<div class="search-box">
    <div class="wrap">
        <predictive-search>
            <form action="/search" method="get" role="search" id="searchbox">
                <div class="search-input">
                    <label for="Search">Search</label>
                    <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search" id="searchfield">
                    <button class="search-clear">Clear</button>
                    <button class="toggle-search">Close</button>
                </div>
                <div id="predictive-search" tabindex="-1"></div>
            </form>
        </predictive-search>
    </div>
</div>