<div class="search-filters-mobile">
    <div class="filters-mobile">
        <form class="filter-form" id="search-filter-form-mobile">
        {% render "search-filters" %}
        <button type="submit">Apply</button>
        </form>
    </div>
    <div class="mask"></div>
</div>