header {
    nav.tools {
        margin-left: auto;
        .menu {
            display: flex;
            gap: 0 1em;
            li {
                position: relative;
                .cart-counter {
                    margin-left: .25em;
                }
            }
            .menu-link-search {
                @media screen and (max-width:$w-m) {
                    display: none;
                }
            }
            .menu-link-account {
                @media screen and (max-width:$w-m) {
                    display: none;
                }
            }
        }
    }
}