header {
    nav.desktop {
        margin-left: 2em;
        @media screen and (max-width:$w-l) {
            display: none;
        }
        .menu {
            display: flex;
            gap: 0 1em;
        }
    }
}