<div class="wrap">
  <div class="page-title">
      <h1>{{ page.title }}</h1>
  </div>
  <div class="page-content">
      {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}
      <label for="password">Password</label>
      <input type="password" value="" name="customer[password]" size="16" />
      <label for="password_confirmation">Password Confirmation</label>
      <input type="password" value="" name="customer[password_confirmation]" size="16" />
      <input type="submit" value="Reset Password" />
      {% endform %}
  </div>
</div>