<div class="page-content account-form">
    <div class="reset-password">
        <h2>Reset Password</h2>
        {% form 'reset_customer_password', class: "account reset-password" %}
        {{ form.errors | default_errors }}
        <label for="password">Password</label>
        <input type="password" value="" name="customer[password]" size="16" />
        <label for="password_confirmation">Password Confirmation</label>
        <input type="password" value="" name="customer[password_confirmation]" size="16" />
        <button type="submit">Reset Password</button>
        {% endform %}
    </div>
</div>
