@font-face {
    font-family: "poppins-light";
    src: url("Poppins-Light.ttf");
}
@font-face {
    font-family: "poppins-light-italic";
    src: url("Poppins-LightItalic.ttf");
}
@font-face {
    font-family: "poppins-semibold";
    src: url("Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "poppins-semibold-italic";
    src: url("Poppins-SemiBold.ttf");
}