$font-base: "poppins", sans-serif;
$font-bold: 600;
$font-regular: 300;

$color-primary: #fff;
$color-secondary: #eee;
$color-tertiary: #252525;
$color-highlight: #c30;

$w-xl: 1440px;
$w-l: 1024px;
$w-m: 768px;
$w-s: 425px;
$w-xs: 320px;