<div class="wrap">

    <button class="toggle"><img src="{{ "icon-menu.svg" | asset_url }}"></button>
    
    <a href="{{ shop.url }}" class="branding"><img src="{{ "logo-placeholder.svg" | asset_url }}"></a>

    {% render "nav-desktop" %}
    
    {% render "nav-tools" %}

</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "main"
}
{% endschema %}