<div class="wrap">

    <button class="toggle"><img src="{{ "icon-menu.svg" | asset_url }}"></button>
    
    <a href="{{ shop.url }}" class="branding">
      {% if section.settings.header_logo != blank %}
      <img src="{{ section.settings.header_logo | img_url: "master" }}" alt="{{ shop.name }}">
      {% else %}
      BRANDING
      {% endif %}
    </a>

    {% render "nav-desktop" %}
    
    {% render "nav-tools" %}

</div>

{% if section.settings.sticky == true %}
<style type="text/css">
  header { position: sticky; top: 0; z-index: 9; }
</style>
{% endif %}

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "main",
  "settings": [
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Enable sticky header"
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Branding"
    }
  ]
}
{% endschema %}