<div class="wrap">

    <button class="toggle"><img src="{{ "icon-menu.svg" | asset_url }}" alt="Menu Icon"></button>
    
    <a href="{{ shop.url }}" class="branding">
      {% if section.settings.header_logo != blank %}
      <img src="{{ section.settings.header_logo | img_url: "master" }}" alt="{{ shop.name }}">
      {% else %}
      BRANDING
      {% endif %}
    </a>

    {% render "nav-desktop" %}
    
    {% render "nav-tools" %}

</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "main",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Branding"
    }
  ]
}
{% endschema %}